﻿@model Bookings
    
<div class="container">
    <br>
    <br>
    <br>
    <h1> Details of Booking </h1>
    <h2>@Model.Name</h2>
</div>
   <div class="container">
       <div class="thumbnail">
           <div class="caption-full">


               <div class="form-group">
                   <label asp-for="@Model.TimeSlots.TimeSlotTitle" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.TimeSlots.TimeSlotTitle
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   <label asp-for="@Model.Treatments.TreatmentTitle" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.Treatments.TreatmentTitle
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   <label asp-for="@Model.Mobile" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.Mobile
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   <label asp-for="@Model.Email" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.Email
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   <label asp-for="@Model.IsDeleted" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.IsDeleted
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   <label asp-for="@Model.Note" class="col-md-7 control-label"></label>
                   <div class="col-md-5">
                       @Model.Note
                   </div>
                   <br>
               </div>

               <div class="form-group">
                   
                   <div class="col-md-5">
                       <a class="btn btn-warning" style="text-decoration:none" asp-controller="Booking" asp-action="List1">
                           Back
                       </a>
                   </div>
                   <br>
               </div>


               
           </div>
          </div>
 </div>
