﻿@model IEnumerable<Bookings>

@{
    Layout = "_Layout";
}

<div class="container" style="margin-top:6%">

    <h1>Bookings</h1>
    <hr />
</div>



<form asp-controller="Bookings" asp-action="IndexBoth" method="post">

    <a asp-controller="Booking" asp-action="List1">Back to Full List</a>

</form>


<table class="table">
    <thead>

        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Date</th>
            <th>TimeSlotTitle</th>
            <th>TreatmentTitle</th>
            <th>IsDeleted</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookings in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Booking" asp-action="Details" asp-route-id="@bookings.BookingId"> @bookings.Name</a>

                </td>
                <td>
                    @bookings.Mobile

                </td>
                <td>
                    @bookings.BookedDate.Date.ToShortDateString()
                </td>
                <td>
                    @bookings.TimeSlots.TimeSlotTitle

                </td>
                <td>
                    @bookings.Treatments.TreatmentTitle
                </td>
                <td>
                    @bookings.IsDeleted
                </td>
                <td>
                    <a asp-controller="Booking" asp-action="Edit" asp-route-id="@bookings.BookingId">

                        <input type="button" class="btn btn-primary" value="Edit" />

                        <i class="glyphicon glyphicon-pencil"></i>

                    </a>

                </td>

                <td>
                    <a asp-controller="Booking" asp-action="Details" asp-route-id="@bookings.BookingId">

                        <input type="button" class="btn btn-info" value="Details" />
                        <i class="glyphicon glyphicon-user"></i>

                    </a>
                </td>

                <td>
                    <a asp-controller="Booking" asp-action="Delete" asp-route-id="@bookings.BookingId">

                        <input type="button" class="btn btn-danger" value="Delete" />
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
